/* Importing a Google Font for a modern look */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    background: linear-gradient(90deg, #f5f7fa, #80a1d5);
    font-family: 'Roboto', sans-serif;
    color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #000000;
}

label {
    margin-top: 10px;
    color: #3c3c3c;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 40px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="reset"] {
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: 10px;
}

form input[type="submit"]:hover {
    background: rgb(1, 132, 1); /* Slightly darker gradient on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

form input[type="reset"]:hover {
    background: rgb(183, 1, 1); /* Slightly darker gradient on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}
