body{
    background: linear-gradient(190deg, #f5f7fa, #80a1d5);
    font-family: Arial, Helvetica, sans-serif;
    color: #2e2e2e;
    align-content: center;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
    padding: 0;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #eaeaed;
    background: url('images/imagess.jpg')
}
.container{
    background-color: #ffffff;;
    padding-top: 50px;
    padding-right:150px ;
    padding-left:150px ;
    padding-bottom: 50px; 
    margin-top:50px;
    margin-bottom:50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h1 {
    text-align: center;
    color: #000000;
}
label {
    margin-top: 0px;
    color: #3c3c3c;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
input[type="submit"],
input[type="reset"] {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
}
input[type="submit"]  {
    background-color: #4CAF50;
    color: white;
}
input[type="reset"] {
    background-color: #f44336;
    color: white;
}
input[type="radio"],
input[type="checkbox"] {
    margin-top: 15px;
}
form input[type="submit"]:hover {
    background: rgb(1, 132, 1); /* Slightly darker gradient on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}
form input[type="reset"]:hover {
    background: rgb(183, 1, 1); /* Slightly darker gradient on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}