body{
    
    font-family: Arial, Helvetica, sans-serif;
    color: #2e2e2e;
    align-content: center;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
    padding: 0;
    text-align: center;
    justify-content: center;
    display: flex;
    background:/* linear-gradient(90deg, rgba(245, 247, 250, 0.8), rgba(0, 0, 0, 0.8)),  */
                url('..//images/photo-1614851099511-773084f6911d.avif') no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: overlay;
}
.container{
    background-color: #ffffff;;
    padding-top: 50px;
    padding-right:250px ;
    padding-left:250px ;
    padding-bottom: 50px; 
    margin-top:50px;
    margin-bottom:50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(125, 125, 125);
    width: 300px;
    background-color: rgba(88, 88, 88, 0.566);
    color: #FFFFFF;
}
h1 {
    text-align: center;
    color: #FFFFFF;
}
label {
    margin-top: 0px;
    color: #dcdcdc;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
select {
    color: white;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: rgba(224, 224, 224, 0.267);
    border: none;


}
input[type="submit"],
input[type="reset"] {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
}
input[type="submit"]  {
    background-color: #ffffff18;
    color: white;
    margin-right: 10px;
}
input[type="reset"] {
    background-color: #ffffff18;
    color: white;
    margin-left: 10px;
}
input[type="radio"],
input[type="checkbox"] {
    margin-top: 15px;
}
form input[type="submit"]:hover {
    background: rgba(1, 132, 1, 0.9); /* Slightly darker gradient on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
    transition: transform 0.5s ease;
}
form input[type="reset"]:hover {
    background: rgb(183, 1, 1); /* Slightly darker gradient on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
    transition: transform 0.5s ease;
}