.aaa {
    
    border: none;
}
.mt {
    margin-left: auto;
    margin-right: auto; 
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: sans-serif;
}

.mt th, .mt td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

.mt th {
    background-color: #f2f2f2;
}
.mt tr:hover {
    background-color: #535353;
    color: #e3e1e1;
}

.mt td{

    border-bottom: none;
    border-top: none;
}

.padding{
    margin-top  : 20px;

}

.pad{
    background-color: #000000;
    
}